/**
* You can edit this whole file.
*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --gray-0: #000000;
  --gray-1: #222222;
  --gray-2: #dddddd;
  --gray-3: #fbfbfb;
  --gray-4: #ffffff;
  --primary: #8a2be2;
  --secondary: #20d397;
  --font-size-1: 1.5rem;
  --font-size-2: 1.25rem;
  --font-size-3: 1rem;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --spacer-1: .25rem;
  --spacer-2: .5rem;
  --spacer-3: 1rem;
  --spacer-4: 1.5rem;
  --spacer-5: 2rem;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}

html {
  font-size: 16px;
  line-height: 1.44;
}


.nav{
  display: flex;
background-color: var(--secondary);
justify-content: space-between;
align-items: center;
}



nav .logoContainer{
  display: flex;
  justify-content: space-between;
  color: var(--gray-4);
margin-left: 5rem;
}
nav h1{
  padding: 15px;
}

nav ul{
  display: flex;
margin-right: 2rem;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  margin-right: 15px;
}

nav ul a{
 color: var(--gray-3);
 text-decoration: none; 
 
}
nav ul a:hover{
  border-bottom: 3px solid var(--gray-3);
}

.ContentContainer{
display: flex;
align-items: center;

}

.ContentContainer section{
 margin: 10px;
 flex: 30%;
  
  background-color: var(--gray-3);


  box-shadow: 7px 7px 7px rgba(0, 0, 0, .15);


}

h1{
padding: 15px;
font-size: var(--font-size-1);
font-weight: var(--font-weight-bold);

}
.ContentContainer p{
  padding: 15px;
  color: var(--gray-1);
  font-weight: var(--font-weight-thin);
}

.learMore{
  background-color: var(--primary);
display: flex;
justify-content: space-around;
width: 300px;
height: 50px;
margin: auto;
margin-bottom: 15px;

}

.learMore a {
  color: var(--gray-4);
margin-top: 10px;
  text-decoration: none;
 font-weight: var(--font-weight-thin);
 font-size: var(--font-size-3);
}

.learMore img{
margin-right: 15px;
margin-bottom: -10px;
}

@media (max-width: 960px) {

  
  .ContentContainer{
    
    display: flex;
    flex-direction: column;
    
    
  }
 
nav .logoContainer{
  margin-left: 10px;
}

nav h1{
  font-size: 15px ;
}
nav img{
margin-top: 10px;
  height: 30px;
}


nav ul{
  font-size: 15px;
margin-right: 0;
}


}

